@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/colors.scss";

.input-label-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 5px;
}

.password-input,
.search-input {
  position: relative;
  display: flex;
  flex-direction: column;
  .img-input {
    position: absolute;
    top: 12px;
    right: 0px;
  }
}

p {
  margin-top: -8px;
  @include fonts-tiny-body-span();
  color: $feedback-error-normal;
}
