@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/colors.scss";
.login {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;

  .container-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
    width: 30%;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url("../../assets/unsplash_QeVmJxZOv3k.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: $verdeEscuro;
    @include fontsTituloCadastros;
    h1 {
      margin-top: 20rem;
      font-size: 35px;
      line-height: 40px;
      white-space: pre-wrap;
      text-align: center;
    }
  }
  .container-right {
    width: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20rem;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      h1 {
        @include fontsTituloCadastros;
      }
      .inputs {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        .forgot-pass {
          position: absolute;
          right: 0;
          bottom: 5.5rem;
        }
      }
      button {
        all: unset;
        cursor: pointer;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem 4rem;
        text-align: center;
        background-color: $rosaPrincipal;
        border-radius: 1rem;
        transition: 0.2s;
        color: $cinzaOito;
        @include box-shadow;
        @include fontsButtons;
        &:active {
          @include box-shadow-evento;
        }
      }
    }
    a {
      color: $rosaPrincipal;
      margin-bottom: 12px;
      @include fontsLabelCadastros;
    }
    span {
      @include fontsLabelCadastros;
    }
  }
}
