@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/colors.scss";
@import "../../assets/sass/layouts.scss";

.generic-toast-container {
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 105px;
  @include flex-row(space-around, center);
  width: 330px;
  &.success {
    background-color: $feedback-success-light;
    color: $feedback-success-dark;
  }
  &.failed {
    background-color: $feedback-error-light;
    color: $feedback-error-dark;
  }

  border-radius: 10px;
  img {
    display: inline-block;
    text-align: center;

    &.close-icon {
      width: 7px;
      margin: auto 0px;
    }
  }
  p {
    padding: 17px 0px;
    margin: auto 0px;
    @include fonts-small-body-p;
  }
}
