@import "../../assets/sass/colors.scss";
@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/layouts.scss";

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
