@import "../../assets/sass/colors.scss";
@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/layouts.scss";

.home-container {
  @include flex-column();
  width: 100%;
  .cards-overview-container {
    @include flex-row();
    width: 100%;
    margin-bottom: 24px;
    gap: 32px;
  }
  .cards-cobranca-container {
    width: 100%;
    @include flex-row();
    gap: 32px;
  }
  .cards-clientes-container {
    @include flex-row();
    width: 100%;
    margin: auto;
    gap: 32px;
    .card-cobranca {
      width: 38.2%;
    }
  }
}
