@import "../../../assets/sass/colors.scss";
@import "../../../assets/sass/fonts.scss";
@import "../../../assets/sass/layouts.scss";

#clientInputName,
#clientInputEmail,
#clientInputPhone,
#clientInputCPF,
#clientInputAddress,
#clientInputComplement,
#clientInputCEP,
#clientInputDistrict,
#clientInputCity,
#clientInputState {
  padding-right: 0px;
  padding-left: 0px;
}

::placeholder {
  padding-left: 8px;
}
.modal-footer-buttons {
  .btn {
    all: unset;
    @include fonts-title-h3;
    font-family: "Nunito";
    width: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: $primary-pink-normal;
    color: $grey-eight;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $primary-pink-dark;
    }
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      box-shadow: none;
    }
    &.cancel-btn {
      background-color: $grey-seven;
      color: $primary-green-normal;
      border: 1px solid $grey-six;
      &:hover,
      &:focus {
        background-color: $grey-eight;
      }
    }
  }
  @include flex-row(center, baseline);
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
