@import "../../assets/sass/colors.scss";
.singup {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: $grey-eight;
  .progress-singup {
    width: 30%;
    min-height: 100%;
    background: $grey-seven;
  }
  .singup-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 100%;
  }
  .nav {
    img {
      margin-right: 0.7rem;
      cursor: pointer;
    }
  }
}
