@import "../../assets/sass/colors.scss";
@import "../../assets/sass/fonts.scss";
@import "../../assets/sass/layouts.scss";

header {
  @include flex-column();
  .header-container {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 82px 0px 82px;
    margin-bottom: 24px;
    h1 {
      @include fonts-title-h1;
      color: $grey-one;
    }
    .user-profile-container {
      position: relative;
      @include flex-row(space-between, baseline);
      width: 200px;
      color: $primary-green-normal;

      .image-profile {
        @include flex-column;
        background-color: $grey-six;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        line-height: 30px;
      }
      h2 {
        @include fonts-title-h2;
        font-family: $secondary-font;
        font-size: 2.8rem;
      }
      h3 {
        @include fonts-title-h3;
        font-family: $secondary-font;
      }
    }
  }
  hr {
    margin: auto;
    width: 92vw;
    align-items: center;
    border: 1px solid $primary-green-light;
  }
  .greenSmallName {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0E8750;
  }
}
