@import "../../assets/sass/colors.scss";

.nav-container {
  height: 100vh;
  background-color: $grey-seven;
  width: 5vw;
  padding-top: 55px;

  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $grey-one;
    margin-bottom: 72px;

    &.active {
      filter: invert(15%) sepia(86%) saturate(6506%) hue-rotate(319deg)
        brightness(85%) contrast(104%);

      hr {
        display: block;
      }
    }

    hr {
      display: none;
      position: relative;
      top: -23px;
      left: 50%;
      border: 2px solid #da0175;
      transform: rotate(90deg);
      width: 82px;
    }
  }

  a {
    text-decoration: none;
  }
}
