@import "../../../assets/sass/colors.scss";
@import "../../../assets/sass/fonts.scss";
@import "../../../assets/sass/layouts.scss";

.modal-user-edit-container {
  .modal-dialog {
    @include flex-row(center, center);

    .modal-content {
      border-radius: 30px;
      border: 0px;

      width: 50%;

      .modal-header {
        margin-top: 30px;
        border: 0px;

        button {
          position: absolute;
          right: 20px;
          top: 25px;
        }
      }
    }
  }
}

.modal-user-edit-title {
  @include flex-row();
  width: 100%;
  h2 {
    @include fonts-title-h2;
    vertical-align: middle;
  }
}
