@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600;700&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Nunito", sans-serif;

@mixin fonts-title-h1() {
  font-family: $primary-font;
  font-weight: 600px;
  font-size: 2.6rem;
}
@mixin fonts-title-h2() {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 2.4rem;
}
@mixin fonts-title-h3() {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.8rem;
}
@mixin fonts-title-h4() {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.6rem;
}

@mixin fonts-subtitle-h5() {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 1.6rem;
}
@mixin fonts-normal-body-h6() {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 1.6rem;
}
@mixin fonts-small-body-p() {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 1.4rem;
}
@mixin fonts-tiny-body-span() {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 1.2rem;
}
